@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.su-blue-bg
{
	background-color: transparent;
	height: 100%;
	width: 100% ;
	text-align: center;
	font-family: 'PT Sans', sans-serif ;
}

.fp, .nfp	{
	text-align: right ;
	margin: 1.5em ;
	cursor: pointer;
	transition: all .3s;
}

.nfp	{
	margin-right: 3em ;
	cursor: text ;
}

.fp:hover	{
	font-weight: bold ;
	text-decoration: underline;
}

@media(max-width: 600px)
{	

}